.hero {
    width: 100%;
    height: 100vh;
    background-image: url('images/hero.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
  }
.hero-overlay {
    position: absolute;
    inset: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.6s ease; 
    pointer-events: none;
    z-index: 100; 
  }
  
  .hero-overlay.dark {
    opacity: 0.99; 
  }
  
  .lamp {
    position: absolute;
    right: 10px;        
    top: 50%;             
    transform: translateY(-50%);
    height: 90%;
    pointer-events: none; 
    z-index: 999;
  }
  
  .lamp-wrapper {
    position: absolute;
    right: -40px;
    top: 30%;
    transform: translateY(-50%);
    height: 60%;
    z-index: 999;
  }
  
  .string-hotspot {
    position: absolute;
      width: 40px;  
    height: 120px;  
    right: 140px;     
    top: 280px;       
  
    cursor: pointer;
    background: rgba(255, 0, 0, 0); 
    z-index: 9999;
  }
  
  .bounce {
    animation: bounceAnim 0.3s ease;
  }
  
  @keyframes bounceAnim {
    0%   { transform: translateY(-50%) translateY(0); }
    40%  { transform: translateY(-50%) translateY(-15px); }
    100% { transform: translateY(-50%) translateY(0); }
  }
  