@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 50px;
  display: flex;
  justify-content: center;
  gap: 400px;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.logo img {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: "Comic Neue", cursive;
  font-size: 26px;
  font-weight: 600;
  color: white;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #143783; 
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.btn {
    font-family: "Comic Neue", cursive;
    padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}


.btn-fill {
  background: #143783;
  border: 2px solid #143783;
  color: wheat;
}

.btn-fill:hover {
  background: transparent;
  color: wheat ;
}